
@using PagedList.Mvc;
@using PagedList;

@model IPagedList<NPL.Models.MonAn>

@{
    ViewBag.Title = "KetQuaTimKiem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="main-content">
    <div class="row">
        <div class="span12">
            <br />
            <h4 class="title">
                <span class="pull-left"><span class="text"><span class="line">Kết Quả <strong>Tìm Kiếm</strong></span></span></span>
            </h4>
            <div>@ViewBag.ThongBao</div>
            <div id="myCarousel" class="myCarousel carousel slide">
                <div class="carousel-inner">
                    <div class="active item">
                        <ul class="thumbnails" style="list-style-type:none">
                            @foreach (var monan in Model)
                            {
                                <li class="span3">
                                    <div class="product-box">
                                        <a href="@Url.Action("Details", "Home", new { id = monan.IDMonAn })">
                                            <img alt="@monan.TenMonAn" src="~/Images/MonAn/@monan.HinhAnh" style="width:270px; height:200px" />
                                            <div>
                                                <br />
                                                <h4 style="text-align:center">
                                                    @monan.TenMonAn
                                                </h4>

                                                <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>

                                                <p></p>
                                            </div>
                                        </a>
                                    </div>
                                    <br />
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div>
            Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
            <div class="MenuTrang">
                @Html.PagedListPager(Model, page => Url.Action("KetQuaTimKiem", new { page = page, @tukhoa = ViewBag.TK }))
            </div>
            <style>
                .MenuTrang li {
                    display: inline;
                }
            </style>
        </div>
    </div>

</section>
